.root-node {
  column-gap: 100px;
  display: flex;
  margin-left: 20px;
  .root-node-tree {
    width: 100vw;
  }
}
.root-folder-button {
  margin-left: 20px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  height: 36px;
  font-size: 14px;
  color: #ffffff;
  background-color: #263238;
  padding: 0 18px;
}
