<div class="root-node" *ngIf="nodes?.length; else addRootButton">
  <div class="root-node-tree" *ngFor="let node of nodes">
    <img
      *ngIf="nodes?.length"
      src="assets/folder-regular.svg"
      alt="folder-regular"
       
    />
    <div>{{ node.name }}</div>
    <img
      class="arrow-icon"
      *ngIf="node?.nodes?.length"
      src="assets/down-right.svg"
      alt="down right arrow"
    />
    <app-child-node [node]="node"></app-child-node>
  </div>
  <div>
    <pre>  {{ nodes | json }}</pre>
  </div>
</div>
<ng-template #addRootButton>
  <button class="root-folder-button" (click)="createRootNode()">
    Add Root Folder
  </button></ng-template
>
