.child-node {
  margin-left: 50px;
  margin-top: 20px;
  // .child-node-item {
  //   .child-node-content {
  //     padding-left: 10px;
  //     border-left: 1px solid gray;
  //   }
  // }
  .child-menu {
    display: flex;
    column-gap: 5px;
    transform: translate(-20px, -75px);
    img {
      cursor: pointer;
    }
    button {
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
    }
    .child-menu-item {
      width: fit-content;
      display: flex;
      column-gap: 10px;
      align-items: center;
      border: 1px solid rgb(119, 119, 119);
      border-radius: 5px;
      input {
        border: none !important;
        margin-left: 5px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
