<div class="child-node">
  <div class="child-menu">
    @if(isFolder(node)){
    <button (click)="showMenu = !showMenu">
      <img
        class="menu-button"
        [title]="showMenu ? 'close menu' : 'show menu'"
        [src]="showMenu ? 'menu-close.svg' : 'menu-open.svg'"
        alt="show menu button"
      />
    </button>
    } @if(isFolder(node) && showMenu){
    <div class="child-menu-item">
      <input
        placeholder="enter child name"
        maxlength="12"
        type="text"
        #nodeName
      />
      <button (click)="addNode(nodeName.value, 'folder')" title="Add as folder">
        <img src="add-folder.svg" alt="add folder button" />
      </button>
      <button (click)="addNode(nodeName.value, 'file')" alt="add file button">
        <img title="Add as file" src="add-file.svg" />
      </button>
      @if(hasChildNodes(node)){
      <button (click)="removeChildNode(node)">
        <img title="Delete Child" src="delete.svg" alt="delete button" />
      </button>
      }
    </div>
    }
  </div>
  @if(hasChildNodes(node)){
  <div class="child-node-item">
    @for (node of node.nodes; track node) {
    <div class="child-node-content">
      <img
        [src]="isFolder(node) ? 'folder-regular.svg' : 'file-regular.svg'"
        alt="file-regular"
      />
      <div>{{ node.name }}</div>
      @if(hasChildNodes(node)){
      <img class="arrow-icon" src="down-right.svg" alt="down-right" />
      } @if(isFile(node)){
      <br />
      }
      <app-child-node [node]="node"></app-child-node>
    </div>
    }
  </div>
  }
</div>
