.node {
  display: flex;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  .unset-node {
    outline: 1px solid #263238;
  }
  button.transparent-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  .node-items {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
  }
  .choose-file-folder {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    button.file-folder-button {
      background: #263238;
      padding: 5px 10px;
      color: white;
      border: 1px solid transparent;
      border-radius: 2px;
      cursor: pointer;
    }
  }
  img.button-img {
    height: 25px;
  }
  input.node-name {
    border-color: black;
    border-radius: 2px;
    font-size: 12px;
    padding: 4px 8px;
  }
}

.child {
  margin-left: 32px;
  .node-container {
    border-left: 2px solid #263238;
    display: flex;
    align-items: center;
    position: relative;
    &:before {
      content: "";
      position: relative;
      top: -0.3em;
      height: 1em;
      width: 12px;
      color: white;
      border-bottom: 2px solid #263238;
      content: "";
      display: inline-block;
    }
  }
}
