<div class="node-container">
  <div class="main-node" [ngClass]="{ 'menu-node': !node.name }">
    @if(node.type === 'unset') {
    <div class="choose-file-folder">
      <button
        class="file-folder-button"
        title="add folder node"
        (click)="updateNodeType('folder')"
      >
        Add Folder
      </button>
      <button
        class="file-folder-button"
        title="add file node"
        (click)="updateNodeType('file')"
      >
        Add File
      </button>
    </div>
    } @else { @if(node.name) {
    <div class="node-items">
      <img
        class="button-img"
        alt="file or folder icon"
        [src]="node.type === 'file' ? 'file-regular.svg' : 'folder-regular.svg'"
      />
      <span class="name">{{ node.name }}</span>
      <div class="node-menu-button">
        @if(node.type === 'folder'){
        <button
          class="transparent"
          title="add new node"
          (click)="addUnsetNode()"
        >
          <img class="button-img" alt="add button" src="add-icon.svg" />
        </button>
        }
        <button
          class="transparent"
          title="delete this node"
          (click)="removeThisNode()"
        >
          <img class="button-img" alt="delete button" src="delete.svg" />
        </button>
      </div>
    </div>
    } @else {
    <div class="node-items">
      <img
        class="button-img"
        alt="file or folder icon"
        [src]="node.type === 'file' ? 'file-regular.svg' : 'folder-regular.svg'"
      />
      <input
        class="node-name"
        [placeholder]="'enter ' + node.type + ' name'"
        maxlength="20"
        #nodeName
      />

      <button
        title="update name"
        class="transparent"
        (click)="updateNodeName(nodeName.value)"
      >
        <img class="button-img" alt="tick button" src="tick.svg" />
      </button>
      <button
        class="transparent"
        title="remove this node"
        (click)="removeThisNode()"
      >
        <img class="button-img" alt="cancel button" src="close.svg" />
      </button>
    </div>

    } }
  </div>
</div>

@if(node.children?.length) {
<div class="child-node">
  @for (child of node.children; track child) {
  <child-node
    [node]="child"
    (removeEvent)="removeNodeEvent($event)"
  ></child-node>
  }
</div>
}
