.main-node {
  display: flex;
  padding: 5px;
  border-radius: 2px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 8px 0px;

  &:hover {
    outline: 1px solid #263238;
  }

  &.menu-node {
    outline: 1px solid #263238;
  }

  button.transparent {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  .node-items {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: stretch;

    .name {
      font-weight: 500;
    }

    .node-menu-button {
      display: flex;
      justify-content: center;
      column-gap: 10px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s ease;
    }

    &:hover .node-menu-button {
      display: flex;
      justify-content: center;
      column-gap: 10px;
      visibility: visible;
      opacity: 1;
    }
  }

  .choose-file-folder {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;

    button.file-folder-button {
      background: #263238;
      padding: 5px 10px;
      color: white;
      border: 1px solid transparent;
      border-radius: 2px;
      cursor: pointer;
    }
  }

  img.button-img {
    height: 25px;
  }

  input.node-name {
    font-size: 12px;
    padding: 4px 8px;
  }
}

.child-node {
  padding-left: 24px;

  .node-container {
    border-left: 2px solid #263238;
    display: flex;
    align-items: center;
    position: relative;

    &:before {
      content: "";
      display: inline-block;
      position: relative;
      top: -0.5em;
      height: 15px;
      width: 10px;
      color: white;
      border-bottom: 2px solid #263238;
    }
  }


}