<div class="node-container">
  <div class="node" [ngClass]="{ 'menu-node': !node.name }">
    @if(node.type === 'unset') {
    <div class="choose-file-folder">
      <button
        class="file-folder-button"
        title="add folder node"
        (click)="updateNodeType('folder')"
      >
        Add Folder
      </button>
      <button
        class="file-folder-button"
        title="add file node"
        (click)="updateNodeType('file')"
      >
        Add File
      </button>
    </div>
    } @else { @if(node.name) {
    <div class="node-items">
      <img
        class="button-img"
        [src]="node.type === 'file' ? 'file-regular.svg' : 'folder-regular.svg'"
      />
      <span class="name">{{ node.name }}</span>
      <div class="node-menu-button">
        @if(node.type === 'folder'){
        <button
          class="transparent"
          title="add new node"
          (click)="addUnsetNode()"
        >
          <img class="button-img" src="add-icon.svg" />
        </button>
        }
        <button
          class="transparent"
          title="delete this node"
          (click)="removeNode()"
        >
          <img class="button-img" src="delete.svg" />
        </button>
      </div>
    </div>
    } @else {
    <div class="node-items">
      <img
        class="button-img"
        [src]="node.type === 'file' ? 'file-regular.svg' : 'folder-regular.svg'"
      />
      <input class="node-name" #nodeName />

      <button
        title="update name"
        class="transparent"
        (click)="updateNodeName(nodeName.value)"
      >
        <img class="button-img" src="tick.svg" />
      </button>
      <button
        class="transparent"
        title="remove this node"
        (click)="removeNode()"
      >
        <img class="button-img" src="close.svg" />
      </button>
    </div>

    } }
  </div>
</div>

@if(node.children?.length) {
<div class="child">
  @for (child of node.children; track child) {
  <app-child-node
    [node]="child"
    (removeEvent)="removeChildNode($event)"
  ></app-child-node>
  }
</div>
}
