<div class="child-node">
  <div class="child-menu">
    <a *ngIf="node.type == 'folder'"> </a>
    <div class="child-menu-item" *ngIf="node.type == 'folder'">
      <input placeholder="enter child name" type="text" #nodeName />
      <img
        (click)="addNode(nodeName.value, 'folder')"
        title="Add as Folder"
        src="../../../assets/add-folder.svg"
        alt="add-folder"
        width="25px"
      />
      <img
        (click)="addNode(nodeName.value, 'file')"
        title="Add as File"
        src="../../../assets/add-file.svg"
        alt="add-file"
        width="25px"
      />
      <img
        (click)="removeChildNode(node)"
        *ngIf="node?.nodes?.length"
        title="Delete Child"
        src="../../../assets/delete.svg"
        alt="delete"
        width="25px"
      />
    </div>
  </div>
  <div *ngIf="node?.nodes?.length">
    <div *ngFor="let node of node.nodes">
      <div>
        <img
          *ngIf="node.type == 'folder'"
          src="../../../assets/folder-regular.svg"
          alt="folder-regular"
          width="25px"
        />
        <img
          *ngIf="node.type == 'file'"
          src="../../../assets/file-regular.svg"
          alt="file-regular"
          width="25px"
        />
        <div>{{ node.name }}</div>
      </div>
      <app-child-node [node]="node"></app-child-node>
    </div>
  </div>
</div>
