nav {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background: #263238;
  color: white;
  .source-code {
    position: absolute;
    right: 10px;
  }
  img {
    width: 25px;
  }
}
