.root-nodes {
  padding: 20px;
}
button {
  background: #263238;
  padding: 10px 20px;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.child-nodes {
  margin: 24px 0;
}