.root {
  display: flex;
  justify-content: space-between;
  .root-json {
    padding: 5px;
  }
  .root-nodes {
    padding: 20px;
  }
  button {
    background: #263238;
    padding: 10px 20px;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
  }
}
