<div class="root-node" *ngIf="isNodeAdded(nodes); else addRootButton">
  <div class="root-node-tree" *ngFor="let node of nodes">
    <img src="folder-regular.svg" alt="folder icon" />
    <div>{{ node.name }}</div>
    <img
      class="arrow-icon"
      *ngIf="hasChildNodes(node)"
      src="down-right.svg"
      alt="down right arrow icon"
    />
    <app-child-node [node]="node"></app-child-node>
  </div>
  <div>
    <pre>  {{ nodes | json }}</pre>
  </div>
</div>
<ng-template #addRootButton>
  <button class="root-folder-button" (click)="createRootNode()">
    Add Root Folder
  </button></ng-template
>
